 
  h1{
      text-align: center;
  }
 body{
     background-color: antiquewhite;
 }

 div{
     background-color: white;
     padding: 15px;
     height: 50px;
     width: 510px;
     margin: auto;
 }

